<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'styles/index.css') }}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
	<title>BOTimito</title>
</head>

<body>
	<h1>Bem vindo(a)!</h1>

	<div id="description">
		<h2>Funcionalidades: </h2>
		<ul>
			<li>Agenda</li>
			<li>Organizar votações pelo discord</li>
			<li>Pokedéx</li>
            <li>Trocar nicknames de cargos superiores (somente para admins)</li>
		</ul>
	</div>
</body>

</html>