{% extends 'base.html' %} {% block title %}Login com Discord{% endblock %} {% block body %}

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'styles/userpage.css') }}">
</head>

<body>
	<h1>Bem vindo(a) {{user.name}}!</h1>
    
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for guild in matching %}
            <li class="list-group-item">
                <a href="{{ url_for('dashboard', _id=guild.id) }}">
                    <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.webp?size=1024" alt="icon">
                    {{guild.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <img id="footer-image" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.webp?size=1024" alt="avatar">
</body>

{% endblock %}